$listitem-even:lighten(#DDD, 10%);
$listitem-odd:darken($listitem-even, 10%);

.maincontainer{
  min-height:100vh;
  height:100%;
  @include box-shadow(0px, 0px, 25px, black);
  @include rounded;
  margin:10px auto;
}

form {
	p.error{
	@include rounded;
	color:red;
	display:inline-block;
	margin-top:10px;
	}
}

h3, h4, h5 {
  font-weight: bold;
}
h1{
	&.title{
        padding-top:20px;
		margin-left:20px;
		font-size:2em;
	}
}

div.heading {
  display: flex;
  justify-content:center;
  font-family: "Raleway", sans-serif;
}

.developerlist{

	li{
		margin-left:2px;
		margin-right:2px;
		display: inline;
	}
}

div.listitem{
	@include rounded;
	margin: 5px auto;
	padding-top:5px;
	padding-bottom: 5px;
	&.odd{
		background:$listitem-odd;
	}
	&.even{
		background:$listitem-even;
	}
}
li {
  &.adminHeader {
    color: #7EB31C;
    margin: 15px 5px 0 0;
  }
}
#pageDataWrapper{
  height:100%;
  display: flex;
  flex-direction: column;
}

#app{
  display: flex;
}
#taskInfo,#projectInfo{
  padding-top: 20px!important;
  height:100%;
}

.info{
  padding-top:10px;
  margin-bottom:20px;
  display: flex;
  flex-direction: column;
  border: thin solid grey;
  border-radius:5px;

  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7EB31C;
    text-align: center;

  }
  .data_name{
    margin:0 !important;
    padding: 10px 0;
    font-weight: bold;
    text-transform: capitalize;
  }
  .row_data{
    list-style: none;
  }
}

.ftp_info, .database_info, .admin_info, .projectDescription {
  .header {
    font-weight: bold;
    font-size: 16px;
    list-style: none;
  }
}

.header {
  border-bottom: 1px solid #76A916;
}

.ftpSpinner{
  text-align: center;
}


.task-panel{
  padding-left:0 !important;
  padding-right:0 !important;

}

.panel.panel-default.task-panel .panel-heading, .panel.panel-default.project-panel .panel-heading{
  font-weight:bold;
  font-size:14px;
  display: flex;
  justify-content: space-between;

  .arrow-icon i{
    visibility: hidden;
  }
}
.panel.panel-default.task-panel:hover, .selectedTask, .selectedProject, .panel.panel-default.project-panel:hover{
  border: 2px solid #89B436;
  cursor: pointer;
  &.isPastDue{
    border: 2px solid red;
  }
}
.isPastDue{
  border: 2px solid red;
}
.panel.panel-default.task-panel:hover .panel-heading, .panel.panel-default.project-panel:hover .panel-heading{
  background-color:darken(#ddd, 10%);
  color:#fff;

  .arrow-icon i {
    visibility: visible;
  }
}

.selectedTask.panel.panel-default.task-panel .panel-heading .arrow-icon i, .selectedProject.panel.panel-default.project-panel .panel-heading .arrow-icon i{
  visibility: visible;
}
.home_jumbotron{
  padding-top:20px;
  .jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-button{
      background-color:#89B436;
      color: #fff;
    }
  }
}

#report{
  padding-top:20px;
  display: flex;
  flex-direction: column;
}
.pastDue{
  background-color: lighten(#FF0000, 30%)!important;
}

.clickArea {
  background: #f8f8f8;
  padding: 6px;
  border-radius: 5px;
}

.clicky {
  padding: 0 6px;
  border: 1px solid #d5d5d5;
  background: #eee;
  float: right;
  &:hover {
    background: #e3e3e3;
  }
}

.clippy {
  width: 13px;
}

table {
  margin-top: 10px;
}
//Everything below here is for the WYSYWIG -- DON'T TOUCH IT
.editr {
  border: 1px solid #e4e4e4;
  width: 100%;
}
.editr--toolbar {
  background: #f6f6f6;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
}
.editr--toolbar a {
  display: inline-block;
  width: 8vw;
  max-width: 32px;
  height: 32px;
  color: #333;
  fill: #333;
  cursor: pointer;
  text-align: center;
  line-height: 1;
}
.editr--toolbar a:hover {
  background: rgba(0,0,0,0.1);
}
.editr--toolbar a:active {
  background: rgba(0,0,0,0.2);
}
.editr--toolbar a svg {
  width: 16px;
  height: 16px;
  margin: 8px auto;
}
.editr--toolbar a svg path {
  fill: inherit;
}
.editr--toolbar a.vw-btn-separator {
  width: 1px;
  margin: 0 10px;
}
.editr--toolbar a.vw-btn-separator:hover {
  background: initial;
  cursor: default;
}
.editr--toolbar a.vw-btn-separator i {
  border-left: 1px solid rgba(0,0,0,0.1);
  height: 100%;
  position: absolute;
  width: 1px;
}
.editr--toolbar .dashboard {
  width: 100%;
  position: absolute;
  top: 32px;
  left: 0;
  text-align: left;
  padding: 0.5rem 1rem;
  background: rgba(255,255,255,0.95);
  border: 1px solid #f6f6f6;
}
.editr--content {
  min-height: 150px;
  padding: 0.75rem 0.5rem;
  line-height: 1.33;
  font-family: inherit;
  color: inherit;
}
.editr--content[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: rgba(0,0,0,0.3);
  display: block; /* For Firefox */
}
.editr--content img {
  max-width: 100%;
}
.editr--content table {
  width: 100%;
}
.editr--content table th {
  text-align: left;
}
.editr--content:focus {
  outline: 0;
}
.editr--content ul li,
.editr--content ol li {
  list-style-position: inside;
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
  background-color: #76A916;
  border-color: #76A916;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .5s ease;
  font-family: Raleway, sans-serif;
  overflow-y: auto;
  max-height: 75%;
}

.modal-header h3 {
  margin-top: 0;
  color: #76A916;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.navbar {
  margin: 10px 0;
}
.topSpace {
  margin-top: 20px;
}


