<template>
    <div>
        <div class="col-sm-12 maincontainer">
            <div class="heading">
                <h1>History Search</h1>
            </div>
            <div class="well">
                <div class="filterGroup">
                    <fieldset>
                        <label class="header">Type of Q:</label>
                        <div class="form-group" :class="{'has-error' : typeError}">
                            <span v-if="typeError" class="glyphicon glyphicon-alert alertIcon" aria-hidden="true"></span>
                            <!--<label class="checkbox-inline"><input value="SFL5_Projects__c" v-model="type" type="checkbox">Project</label>-->
                            <label class="checkbox-inline"><input value="Daily_Q__c" v-model="type" type="checkbox">Daily Q</label>
                            <label class="checkbox-inline"><input value="SEO_Q__c" v-model="type" type="checkbox">SEO Q</label>
                            <label class="checkbox-inline"><input value="Project_Revisions__c" v-model="type" type="checkbox">PR</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="header">Resource:</label>
                        <div class="form-group" :class="{'has-error' : resourceError }">
                            <span v-if="resourceError" class="glyphicon glyphicon-alert alertIcon" aria-hidden="true"></span>
                            <select class="form-control inputArea" v-model='resource' name="resourceOption" id="resourceOption">
                                <option disabled value="none" selected="selected">Select</option>
                                <option v-if='role === "admin"' v-for="resource in resourceList">{{ resource.resource_name }}</option>
                                <option v-if='role !== "admin"'>{{ userId }}</option>
                                <option>All Resources</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset>
                        <label class="header">Domain:</label>
                        <div class="form-group" :class="{'has-error' : domainError }">
                            <span v-if="domainError" class="glyphicon glyphicon-alert alertIcon" aria-hidden="true"></span>
                            <input v-show="blockSearch == false" class="inputArea form-control" list="domains" v-model="queryDomain">
                                <datalist id="domains">
                                    <option>All Domains</option>
                                    <option v-for="domain in domainList">{{ domain.Domain_Name__c }}</option>
                                </datalist>
                        </div>
                    </fieldset>
                </div>
                <div class="submitRow">
                    <button class="btn btn-primary" @click="getHistory"> Get History </button>
                </div>
            </div>
            <div class="alert alert-warning" v-show="domainRetrievalError !== null">
                <span>(°ロ°)☝ I failed to get the domain list. Please refresh to try again.</span>
            </div>
            <div class="results">
                <div class="ftpSpinner"><i class="fa fa-spinner fa-spin fa-3x" v-show="spinner"></i> </div>
                <div v-show="noProjects" class="alert alert-warning emptyWarning" role="alert"><h5>Looks like there isn't any Q's that match your query.</h5></div>
                <div v-show="undefinedError" class="alert alert-warning emptyWarning" role="alert"><h5>This is an odd bug that I haven't figured out yet. There is only
                one site that I'm aware of that's doing it, magnetshop.com. If this isn't that site, please let Chris know.</h5></div>
                <table class="table table-striped" v-show="historyList.length > 0">
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-3">Domain</th>
                        <th class="col-sm-1">Q Type</th>
                        <th class="col-sm-1">Resource</th>
                        <th class="col-sm-2">Date Completed</th>
                        <th class="col-sm-3">Notes</th>
                    </tr>
                    <tr v-for="item in historyList">
                        <td class="col-sm-2"><a :href="'https://na8.salesforce.com/' +  item.id" target="_blank">{{ item.name }}</a></td>
                        <td class="col-sm-3">{{item.domain}} </td>
                        <td class="col-sm-1">{{ item.type }}</td>
                        <td class="col-sm-1">{{ item.resource }}</td>
                        <td class="col-sm-1">{{ item.dateCompleted }}</td>
                        <td class="col-sm-4" v-html="item.notes"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'
    export default {
        name: 'HistoryApp',
        components: {},
        data: function () {
            return {
                userId: null,
                resource: '',
                resourceList: Ecreativeworks.data,
                role: Ecreativeworks.role,
                type: [],
                queryDomain: '',
                domainList: [],
                token: '',
                typeError: false,
                typeErrorMsg: '',
                resourceError: false,
                resourceErrorMsg: '',
                domainError: false,
                domainErrorMsg: '',
                spinner: false,
                historyList: [],
                noProjects: false,
                undefinedError: false,
                blockSearch: true,
                domainRetrievalError: null
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loaded = true;
            });
            this.userId = dataLayer[0]['userId'];
            this.token = document.querySelector('#_token').getAttribute('value');
            this.getDomainList();
        },
        methods: {
            setResource: function (value) {
                this.resource = value;
            },
            getDomainList: function () {
                let domains = [];
                let headers = {
                    'X-CSRF-TOKEN': this.token
                };
                let self = this;
                Vue.http.get('/api/get/domains', headers)
                    .then(function (response) {
                        let records = response.data.records;
                        records.forEach(function (e) {
                            domains.push(e);
                        });
                        self.blockSearch = false;
                    }, function (response) {
                        Bugsnag.notify("Failed to get domains for history  |  " + self.userId);
                        self.domainRetrievalError = "Failed to get domains, please refresh to try again.";
                        console.log(response);
                    });
                this.domainList = domains;
            },
            getHistory: function () {
                let self = this;
                this.undefinedError = false;
                this.noProjects = false;
                this.spinner = true;
                let postData = {};
                let types = this.type;
                postData.type = types;
                if (postData.type < 1) {
                    self.typeError = true;
                    self.typeErrorMsg = 'You must have at least 1 type selected for the query.'
                } else {
                    self.typeError = false;
                }
                if (self.resource !== '') {
                    postData.resource = self.resource;
                    self.resourceError = false;
                } else {
                    self.resourceError = true;
                    self.resourceErrorMsg = 'Please select a resource';
                }
                if (this.queryDomain !== '') {
                    self.domainList.forEach(function (e) {
                        if (self.queryDomain === e.Domain_Name__c) {
                            postData.queryDomain = e.Id;
                        }
                    });
                    self.domainError = false;
                } else {
                    self.domainError = true;
                    self.domainErrorMsg = 'Please select a domain';
                }
                if (self.typeError === true || self.resourceError === true || self.domainError === true) {
                    self.spinner = false;
                    return;
                }
                let headers = {
                    'X-CSRF-TOKEN': this.token
                };
                let history = [];
                Vue.http.post('api/post/history', postData, headers)
                    .then(function (response) {
                        let recordTypes = response.data;
                        if (JSON.parse(recordTypes[0]).code === 400) {
                            self.undefinedError = true;
                            self.spinner = false;
                            Bugsnag.notify("That weird 400 error  |  " + self.userId);
                            return;
                        }
                        recordTypes.forEach(function (e) {
                            JSON.parse(e).records.forEach(function (b) {
                                if (b.attributes.type !== 'Project_Revisions__c') {
                                    history.push({
                                        'type'          : b.attributes.type,
                                        'id'            : b.Id,
                                        'name'          : (b.Name) ? b.Name : 'No Name',
                                        'dateCompleted' : (b.Date_Completed__c) ? b.Date_Completed__c : 'No Date Listed',
                                        'notes'         : (b.Notes__c) ? b.Notes__c : 'No Notes',
                                        'resource'      : (typeof b.Resource__r != 'undefined' &&  b.Resource__r != null) ? b.Resource__r.Name : 'No Resource',
                                        'domain'        : (b.Domain__r.Name) ? b.Domain__r.Name : 'No Domain'
                                    })
                                } else {
                                    history.push({
                                        'type'          : b.attributes.type,
                                        'id'            : b.Id,
                                        'name'          : (b.Name) ? b.Name : 'No Name',
                                        'dateCompleted' : (b.Date_Completed__c) ? b.Date_Completed__c : 'No Date Listed',
                                        'notes'         : (b.Notes__c) ? b.Notes__c : 'No Notes',
                                        'resource'      : (typeof b.Developer__r != 'undefined' && b.Developer__r != null) ? b.Developer__r.Name : 'No Developer',
                                        'domain'        : (b.Domain__r.Name) ? b.Domain__r.Name : 'No Domain'
                                    })
                                }
                            })
                        });
                    if (history.length === 0) {
                        self.noProjects = true;
                    }
                    self.spinner = false;
                    }, function (response) {
                        Bugsnag.notify("Failed to get History  |  " + self.userId);
                    });
                this.historyList = history;
            }
        }
    }

</script>
<style>
    .filterGroup {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .inputArea {
        width: 200px;
    }
    .submitRow {
        display: flex;
        justify-content: center;
    }
    .emptyWarning {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alertIcon {
        color: #a94442;
        margin: 5px;
    }
</style>