<template>
<div>
    <div class="col-sm-12 maincontainer">
        <div class="row">
            <div v-if="devProjectFilter(projects).length === 0" class="col-sm-12 topSpace">
                <div class="alert alert-success" role="alert">ヽ(‘ ∇‘ )ノ You have no current projects!</div>
            </div>
        </div>
        <div v-if="loaded" id="pageDataWrapper" class="col-sm-4 topSpace">
            <div v-for="(project, index) in devProjectFilter(projects)">
                <project-card :project="project" :index="index"></project-card>
            </div>
        </div>

        <div v-if="loaded && devProjectFilter(projects).length > 0" class="col-sm-8 topSpace">
            <div class="panel panel-default current-project-info-panel">
                <div class="name panel-heading project-panel-heading">
                    <p v-if="ftp.name">Selected Project: {{ ftp.name }}</p>
                    <p v-else>Please select a project to view.</p>
                </div>
                <div class="panel-body">
                    <div class="ftpError alert alert-danger" role="alert" v-show="ftpError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ errorMsg }}
                    </div>
                    <div class="ftpSpinner"><i class="fa fa-spinner fa-spin fa-3x" v-show="ftpSpinner"></i></div>
                    <div class="ftp_container row" v-show="ftpShow">
                        <div class="projectDescription col-sm-12">
                            <h5 class="header">Project Description:</h5>
                            <span v-html="ftp.projectDescription"></span>
                        </div>
                        <div class="row linkRow">
                            <div class="col-sm-6">
                                <h5>Quoted Developer Hours: <span class="badge">{{ftp.quoted_developer_hours}} hours(s)</span></h5>
                                <h5>Used Developer Hours: <span class="badge">{{ftp.used_developer_hours}} hours(s)</span></h5>
                                <h5>Live Site URL:</h5> <span v-html="ftp.live_url"></span>
                            </div>
                            <div class="col-sm-6">
                                <h5>Test Site URL:</h5><span v-html="ftp.test_url"></span>
                                <h5>Design Site URL: </h5> <span v-html="ftp.designSite"></span>
                                <h5>Egnyte Location: </h5> <span>{{ftp.Egnyte}}</span>
                            </div>
                        </div>
                        <div class="ftp_info col-sm-6">
                            <h5 class="header">FTP Info</h5>
                            <div class="row_label">
                                <label>Host:</label>
                                <div class="clickArea">
                                    <span class="pcopyHost">{{ ftp.host }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pcopyHost">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="ftp_username row_label">
                                <label>Username:</label>
                                <div class="clickArea">
                                    <span class="pftpcopyUsername">{{ ftp.username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pftpcopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="ftp_password row_label">
                                <label>Password:</label>
                                <div class="clickArea">
                                    <span class="pftpcopyPassword">{{ ftp.password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pftpcopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 database_info">
                            <h5 class="header">Database Info</h5>
                            <div class="database_username row_label">
                                <label>Username:</label>
                                <div class="clickArea">
                                    <span class="pdcopyUsername">{{ ftp.database_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pdcopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="database_password row_label">
                                <label>Password:</label>
                                <div class="clickArea">
                                    <span class="pdcopyPassword">{{ ftp.database_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pdcopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 rowSpacing">
                            <div class="row_label">
                                <label>FTP URL</label>
                                <div class="clickArea">
                                    <span class="ftpcopyURL">{{ ftp.ftp_url }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".ftpcopyURL">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="admin_info col-sm-12">
                            <h5 class="header row_label">Admin Info</h5>
                            <div class="cart_admin row_label">
                                <label>Cart Admin Username:</label>
                                <div class="clickArea ">
                                    <span class="pacopyUsername">{{ ftp.cart_admin_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pacopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="cart_password row_label">
                                <label>Cart Admin Password:</label>
                                <div class="clickArea">
                                    <span class="pacopyPassword">{{ ftp.cart_admin_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pacopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="cms_admin row_label">
                                <label>CMS Admin Username:</label>
                                <div class="clickArea">
                                    <span class="pacopyUsername2">{{ ftp.cms_admin_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pacopyUsername2">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="cms_password row_label">
                                <label>CMS Admin Password:</label>
                                <div class="clickArea">
                                    <span class="pacopyPassword2">{{ ftp.cms_admin_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".pacopyPassword2">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <h5 class="header row_label">
                                <label>Domain Notes:</label>
                            </h5>
                            <div class="row_data">{{ ftp.domain_notes }}</div>
                        </div>
                    </div>
                    <div class="projectTimeEntry col-lg-12" v-show="ftpShow">
                        <div class="form-group" :class="{ 'has-error' : type_of_task_error }">
                            <label>Type of Task</label>
                            <div v-if="type_of_task_error" class="alert alert-danger">
                                <strong>{{ type_of_task_error_msg }}</strong>
                            </div>
                            <select v-model='type_of_task' class="form-control" name="time_option" id="time_option">
                                <option disabled value="none" selected="selected">Select One</option>
                                <option v-for="(item, index) in timeOptions"
                                        :value="index">{{ item }}</option>
                            </select>
                        </div>
                        <div class="form-group" :class="{ 'has-error' : time_error }">
                            <label>Hours</label>
                            <div v-if="time_error" class="alert alert-danger">
                                <strong> {{ time_error_msg }} </strong>
                            </div>
                            <input class="form-control" tabindex="1" v-model="time" placeholder="Please Input Your Time">
                        </div>
                        <div class="form-group" :class="{ 'has-error' : message_error }">
                            <label>Details</label>
                            <div v-if="message_error" class="alert alert-danger">
                                <strong> {{ message_error_msg }} </strong>
                            </div>
                            <wysiwyg v-model="message"></wysiwyg>
                        </div>
                        <div class="form-group">
                            <label for="checkBox">Ready for Review?</label>
                            <input type="checkbox" tabindex="3" id="checkBox" v-model="checked">
                        </div>
                        <div class="ftpSpinner"><i class="fa fa-spinner fa-spin fa-3x" v-show="submitSpinner"></i></div>
                        <button class="btn btn-danger pull-right" @click="clearTimeInfo"> Clear </button>
                        <button class="btn btn-success pull-right" tabindex="4" style="margin-right:10px;" @click="saveProject">
                            Submit
                        </button>
                    </div>
                </div>  <!--End panel body-->
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import ProjectCard from "../children/ProjectCard.vue"
    export default {
        name: 'ProjectApp',
        components: {
            ProjectCard
        },
        data: function () {
            return {
                // Local data only accessible to this project component
                loaded: false,
                type_of_task: null,
                type_of_task_error: false,
                type_of_task_error_msg: '',
                time: null,
                time_error: false,
                time_error_msg: '',
                message: null,
                message_error: false,
                message_error_msg: '',
                checked: false,
                input_error_msg: null
            }
        },
        computed: {
            ftp () {
                return this.$store.state.ftp
            },
            projects () {
                return this.$store.state.jobs
            },
            ftpError () {
                return this.$store.state.ftpError
            },
            errorMsg () {
                return this.$store.state.errorMsg
            },
            ftpSpinner () {
                return this.$store.state.ftpSpinner
            },
            ftpShow () {
                return this.$store.state.ftpShow
            },
            timeOptions () {
                return this.$store.state.timeOptions
            },
            submitSpinner () {
                return this.$store.state.submitSpinner
            },
            selectedFTP () {
                return this.$store.state.selectedFTP
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                this.loaded=true;
            });
            this.$store.dispatch('setUser', dataLayer[0]['userId']);
        },
        methods: {
                devProjectFilter: function(projects){
                    let returnObjects = [];
                    projects.forEach(function(project){
                        if(project.Project_Stage__c == 'In Development'  || project.Project_Stage__c == 'Design'){
                            returnObjects.push(project);
                        }
                    });
                    returnObjects.sort(function(a,b){
                        // Turn your strings into dates, and then subtract them
                        // to get a value that is either negative, positive, or zero.
                        return new Date(a.Buildout_Due_Date__c) - new Date(b.Buildout_Due_Date__c);
                    });
                    return returnObjects;
                },
                saveProject: function () {
                    let submitArray = [];
                    if (this.type_of_task === null) {
                        this.type_of_task_error = true;
                        this.type_of_task_error_msg = '(ノಠ益ಠ)ノ -- You must select a type of task.';
                    } else {
                        this.type_of_task_error = false;
                        submitArray.push(this.type_of_task);
                    }
                    if (this.time === null || isNaN(this.time)) {
                        this.time_error = true;
                        this.time_error_msg = "(ノಠ益ಠ)ノ -- This must only be a number and also filled in.";
                    } else {
                        this.time_error = false;
                        submitArray.push(this.time);
                    }
                    if (this.message === null) {
                        this.message_error = true;
                        this.message_error_msg = "(ノಠ益ಠ)ノ -- You have to put something in here, it helps for the records.";
                    } else if (this.message.replace(/(&nbsp;)*/g,"") === '') {
                        this.message_error = true;
                        this.message_error_msg = "(ノಠ益ಠ)ノ -- Look at you trying to be a smart guy and submitting with just spaces...";
                    } else {
                        this.message_error = false;
                        submitArray.push(this.message);
                    }
                    if (submitArray.length === 3) {
                        submitArray.push(this.checked);
                        submitArray.push(this.ftp.Id);
                        this.$store.dispatch('saveProject', submitArray);
                    }
                },
                clearTimeInfo: function () {
                    this.type_of_task = null;
                    this.time = null;
                    this.message = null;
                    this.checked = false
                }
            }
        };
</script>
<style>
    .projectTimeEntry {
        margin-top: 20px
        }
    .linkRow {
        margin: 0 0 20px 0;
    }
    .rowSpacing {
        margin-bottom: 20px;
    }
    .project-panel-heading {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .project-panel-heading > p {
        margin: 0;
    }
</style>