<template>
    <div>
        <div class="col-sm-12 maincontainer">
            <div class="alert alert-warning cacheError" v-if="gridData == null">
                <p>It looks like your cache is empty. It must have just been emptied. Please log out and log back in to get your new token and refreshed projects, or simply wait 10 minutes.</p>
            </div>
            <table v-else class="table table-striped" v-for="(data, index) in gridData">
                <tr><td colspan="8" style="background-color:lightgray"><strong>{{ index }}</strong></td></tr>
                <tr>
                    <th v-for="(column, index) in gridColumns"> {{ column }} </th>
                </tr>
                <tr v-for="projectData in data" :class="projectData.pastDue == 1 ? 'pastDue' : 'notPastDue'">
                    <td class="col-sm-2"><a :href="'https://na8.salesforce.com/' +  projectData.id" target="_blank">{{ projectData.account }} <span v-if="projectData.type  != 'Web Production'">{{projectData.name}}</span></a></td>
                    <td class="col-sm-1">{{ projectData.name }}</td>
                    <td class="col-sm-1">{{ projectData.owner }}</td>
                    <td class="col-sm-1">{{ projectData.priority }}</td>
                    <td class="col-sm-1">{{ projectData.stage }}</td>
                    <td class="col-sm-1">{{ projectData.quoted_hours }}</td>
                    <td class="col-sm-1">{{ projectData.createdDate }}</td>
                    <td class="col-sm-1">{{ projectData.due_date }}</td>
                </tr>
            </table>
        </div>
    </div>

</template>
<script>
    export default {
        name: 'ReportApp',
        data: function () {
            return {
                // Local data only accessible to the Report component
                gridColumns: {
                    'name': 'Name',
                    'type': 'Record Type',
                    'owner': 'Owner',
                    'priority': 'Priority',
                    'stage': 'Stage',
                    'quotes_hours': 'Quoted Hours',
                    'createdDate': 'Created Date',
                    'due_date': 'Due Date'
                },
                gridData: Ecreativeworks.data
            }
        }
    }
</script>
<style>
    .cacheError {
        margin-top: 15px;
    }
</style>