<template>
<div>
    <div class="col-sm-12 maincontainer">
        <div class="row">
            <div v-if="devTaskFilter(tasks,resource).length === 0" class="col-sm-12 topSpace">
                <div class="alert alert-success" role="alert">ヽ(‘ ∇‘ )ノ You have no current tasks!</div>
            </div>
        </div>
        <div id="pageDataWrapper" class="col-sm-4 topSpace">
            <div v-for="(task, index) in devTaskFilter(tasks,resource)">
                <task-card :task="task" :index="index"></task-card>
            </div>
        </div>

        <div v-if="loaded && devTaskFilter(tasks, resource).length > 0" class="col-sm-8 topSpace">
            <div class="panel panel-default current-task-info-panel">
                <div class="panel-heading task-panel-heading">
                    <template v-if="ftp.name">
                        <p v-if="ftp.name" class="task-name">Selected Task: {{ ftp.name }}</p>
                        <button v-if="numberOfConflicts > 0" class="btn btn-sm btn-primary" id="show-modal" @click="showConflictingModal">
                            Possible Conflicts <span class="badge">{{ numberOfConflicts }}</span>
                        </button>
                    </template>
                    <p v-else>Please select a task to view.</p>
                    <conflict-modal v-if="showConflicting"></conflict-modal>
                </div>
                <div class="panel-body">
                    <div class="ftpError alert alert-danger" role="alert" v-show="ftpError">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        {{ errorMsg }}
                    </div>
                    <div class="ftpSpinner"><i class="fa fa-spinner fa-spin fa-3x" v-show="ftpSpinner"></i></div>
                    <div class="ftp_container row" v-show="ftpShow">
                        <div class="col-sm-12" style="margin-bottom:20px" >
                            <h4 class="header">Description:</h4>
                            <div v-if="ftp.timeQuote === true" class="alert alert-info" role="alert">
                                <span class="glyphicon glyphicon-time"></span>  Heads up, this is a Time Quote Only Q.   <span class="glyphicon glyphicon-time"></span>
                            </div>
                            <h5>Make Live Upon Completion --> {{ftp.makeLive}} </h5>
                            <h5 v-if="ftp.issuePage !== 'Unassigned' && ftp.issuePage !== undefined">Page with Issue --> {{ftp.issuePage}}</h5>
                            <p v-html="ftp.description"></p>
                            <h5>Notes:</h5>
                            <h5>Total Time Submited: <span class="badge">{{ ftp.time }} hour(s)</span></h5>
                            <p v-html="ftp.notes"></p>
                            <h5>Test Site URL:</h5>
                                <p v-html="ftp.testurl"></p>
                            <h5>Live Site URL:</h5>
                                <p v-html="ftp.liveurl"></p>
                        </div>
                        <br />
                        <div class="ftp_info col-sm-6">
                            <h5 class="header">FTP Info:</h5>
                            <div class="row_label">
                                <label>Host:</label>
                                <div class="clickArea">
                                    <span class="ftpcopyHost">{{ ftp.ftp_host }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".ftpcopyHost">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="ftp_username row_label">
                                <label>Username:</label>
                                <div class="clickArea">
                                    <span class="ftpcopyUsername">{{ ftp.ftp_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".ftpcopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="ftp_password row_label">
                                <label>Password:</label>
                                <div class="clickArea">
                                    <span class="ftpcopyPassword">{{ ftp.ftp_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".ftpcopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ftp_info col-sm-6">
                            <h5 class="header row_label">Database Info:</h5>
                            <div class="database_username row_label">
                                <label>Username:</label>
                                <div class="clickArea">
                                    <span class="dbcopyUsername">{{ ftp.database_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".dbcopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="database_password row_label">
                                <label>Password:</label>
                                <div class="clickArea">
                                    <span class="dbcopyPassword">{{ ftp.database_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".dbcopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ftp_info col-sm-12" style="margin-bottom: 20px;">
                            <div class="ftp_url row_label">
                                <label>FTP URL:</label>
                                <div class="clickArea">
                                    <span class="ftpcopyFTPURL">{{ ftp.ftp_url }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".ftpcopyFTPURL">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="ftp_info col-sm-12" style="margin-bottom: 20px;">
                            <h5 class="header row_label">Admin Info:</h5>
                            <div class="cart_admin row_label">
                                <label>Cart Admin Username:</label>
                                <div class="clickArea ">
                                    <span class="admincopyUsername">{{ ftp.cart_admin_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".admincopyUsername">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="cart_password row_label">
                                <label>Cart Admin Password:</label>
                                <div class="clickArea">
                                    <span class="admincopyPassword">{{ ftp.cart_admin_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".admincopyPassword">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>

                            </div>
                            <div class="cms_admin row_label">
                                <label>CMS Admin Username:</label>
                                <div class="clickArea">
                                    <span class="admincopyUsername2">{{ ftp.cms_admin_username }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".admincopyUsername2">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>

                            </div>
                            <div class="cms_password row_label">
                                <label>CMS Admin Password:</label>
                                <div class="clickArea">
                                    <span class="admincopyPassword2">{{ ftp.cms_admin_password }}</span>
                                    <button type="button" class="btn clicky" data-clipboard-target=".admincopyPassword2">
                                        <img class="clippy" src="images/clippy.svg">
                                    </button>
                                </div>

                            </div>
                            <div class="header row_label">
                                <label>Domain Notes:</label>
                            </div>
                            {{ ftp.domain_notes }}
                        </div>
                    </div>
                    <div class="taskTimeEntry col-sm-12" v-show="ftpShow">
                        <div class="form-group" :class="{'has-error' : time_error }">
                            <label>Hours</label>
                            <div v-if="time_error" class="alert alert-danger">
                                <strong> {{ time_error_msg }} </strong>
                            </div>
                            <input class="form-control" tabindex="1" v-model="time" placeholder="Please Input Your Time">
                        </div>
                        <div class="form-group" :class="{'has-error' : message_error }">
                            <label>Details</label>
                            <div v-if="message_error" class="alert alert-danger">
                                <strong> {{ message_error_msg }} </strong>
                            </div>
                            <wysiwyg v-model="message"></wysiwyg>
                        </div>
                        <div class="form-group">
                            <label for="checkBox">Ready for Review?</label>
                            <input type="checkbox" tabindex="3" id="checkBox" v-model="checked">
                        </div>
                        <div class="ftpSpinner">
                            <i class="fa fa-spinner fa-spin" v-show="submitSpinner"></i>
                            <span v-show="submitSpinner">Saving Task & Updating Local Task Data</span>
                        </div>
                        <button class="btn btn-danger pull-right" @click="clearTimeInfo"> Clear </button>
                        <button class="btn btn-success pull-right" tabindex="4" style="margin-right:10px;" @click="saveTask">
                            Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import TaskCard from "../children/TaskCard.vue"
    import ConflictModal from "../children/ConflictModal.vue"
    export default {
        name: 'TaskApp',
        components: {
            TaskCard,
            ConflictModal
        },
        data: function() {
            return {
                // Local data only availabe to this Vue instance
                loaded: false,
                time: null,
                time_error: false,
                time_error_msg: '',
                message: null,
                message_error: null,
                message_error_msg: '',
                checked: false,
            }
        },
        computed: {
            ftp () {
                return this.$store.state.ftp
            },
            tasks () {
                return this.$store.state.jobs
            },
            resource () {
                return this.$store.state.resource
            },
            ftpError () {
                return this.$store.state.ftpError
            },
            errorMsg () {
                return this.$store.state.errorMsg
            },
            ftpSpinner () {
                return this.$store.state.ftpSpinner
            },
            ftpShow () {
                return this.$store.state.ftpShow
            },
            submitSpinner () {
                return this.$store.state.submitSpinner
            },
            conflicting () {
                return this.$store.state.conflicting;
            },
            showConflicting () {
                return this.$store.state.showConflicting;
            },
            numberOfConflicts () {
                return this.$store.getters.numberOfConflicts;
            }
        },
        mounted: function() {
            this.$nextTick(function() {
                this.loaded=true;
            });
            this.$store.dispatch('setUser', dataLayer[0]['userId']);
        },
        methods: {
            devTaskFilter: function(tasks, resourceId){
                let acceptedStatuses = [
                    'New Request',
                    'In Progress',
                    'Back To Developer'
                ];
                let returnTasks = [];
                let i = 0;
                //first look for all emergency tasks
                tasks.forEach(function(task){
                    if(acceptedStatuses.indexOf(task.status) > -1 && i < 10) {
                        if (task.resource == resourceId && task.priority == "Emergency") {
                            returnTasks.push(task);
                            i++;
                        }
                    }
                });
                tasks.forEach(function(task){
                    if(acceptedStatuses.indexOf(task.status) > -1 && i < 10) {
                        if (task.resource == resourceId && task.priority != "Emergency") {
                            returnTasks.push(task);
                            i++;
                        }
                    }
                });
                return returnTasks;
            },
            saveTask: function () {
                let submitArray = [];

                if (this.time === null || isNaN(this.time)) {
                    this.time_error = true;
                    this.time_error_msg = "(ノಠ益ಠ)ノ -- This must only be a number and also filled in.";
                } else {
                    this.time_error = false;
                    submitArray.push(this.time)
                }
                if (this.message === null) {
                    this.message_error = true;
                    this.message_error_msg = "(ノಠ益ಠ)ノ -- You have to put something in here, it helps for the records.";
                } else if (this.message.replace(/(&nbsp;)*/g,"") === '') {
                    this.message_error = true;
                    this.message_error_msg = "(ノಠ益ಠ)ノ -- Look at you trying to be a smart guy and submitting with just spaces...";
                } else {
                    this.message_error = false;
                    submitArray.push(this.message);
                }
                if (submitArray.length === 2) {
                    submitArray.push(this.ftp.id);
                    submitArray.push(this.ftp.time);
                    submitArray.push(this.ftp.notes);
                    submitArray.push(this.ftp.type);
                    submitArray.push(this.checked);
                    this.$store.dispatch('saveTask', submitArray);
                }
            },
            clearTimeInfo: function () {
                this.time = null;
                this.message = null;
                this.checked = null;
            },
            showConflictingModal: function () {
                this.$store.dispatch('conflictingModal');
            }
        }
    }

</script>
<style>
    .taskTimeEntry {
        margin-top: 20px;
    }
    .task-panel-heading {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .task-panel-heading > p {
        margin: 0;
    }
</style>