<template>
    <transition name="fade">
        <div class="modal-mask">
            <div class="modal-container">
                <div class="modal-header">
                    <div class="exit"><button class="btn btn-primary" @click="closeConflictingModal"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <template v-if="numberOfConflicts == 1">
                        <h3>There is {{ numberOfConflicts }} Task/Project that is not closed for this domain.</h3>
                    </template>
                    <template v-else>
                        <h3>There are {{ numberOfConflicts }} Tasks/Projects that are not closed for this domain.</h3>
                    </template>
                </div>
                <div v-for="conflict in conflicting" class="modal-body well">
                    <div class="modalRow">
                        <div class="modalGroup">
                            <label class="header">Type:</label>
                            <div> {{ conflict.type }}</div>
                        </div>
                        <div class="modalGroup">
                            <label class="header">Name:</label>
                            <div><a :href="'https://na8.salesforce.com/' +  conflict.info.id" target="_blank">{{ conflict.info.name }}</a></div>
                        </div>
                        <div class="modalGroup">
                            <label class="header">Resource:</label>
                            <div>{{ conflict.info.developer }}</div>
                        </div>
                        <div class="modalGroup">
                            <label class="header">Date Assigned:</label>
                            <div>{{ conflict.info.createdDate}}</div>
                        </div>
                        <div class="modalGroup">
                            <label class="header">Owner:</label>
                            <div>{{ conflict.info.owner }}</div>
                        </div>
                        <div class="modalGroup">
                            <label class="header">Status:</label>
                            <div> {{ conflict.info.status }} </div>
                        </div>
                    </div>
                    <div class="modalRow spacing">
                        <div class="modalGroup">
                            <label class="header spacing">Description:</label>
                        </div>
                    </div>
                    <div v-html="conflict.info.description"></div>
                </div>
                <div class="bottomRow">
                    <button class="btn btn-primary" @click="closeConflictingModal"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        props: {},
        computed: {
            conflicting() {
                return this.$store.state.conflicting;
            },
            numberOfConflicts () {
                return this.$store.getters.numberOfConflicts;
            }
        },
        methods: {
            closeConflictingModal: function () {
                this.$store.dispatch('conflictingModal');
            }
        }
    }
</script>
<style>
    .spacing {
        margin-top: 5px;
    }
    .bottomRow {
        display: flex;
        justify-content: center;
    }
    .exit {
        display: flex;
        justify-content: flex-end;
    }
    .modal-header {
        padding: 0;
    }
    .modalRow {
        display: flex;
        justify-content: space-around;
    }
    .modalGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
