<template>
    <div :id="'project-' + index" class="panel panel-default project-panel" :class="{ 'isPastDue': pastDue}" @click="getFtpInfo">
        <div class="panel-heading">
            <div class="project-name">{{ project.Name }}</div>
            <div class="arrow-icon"><i class="fa fa-arrow-circle-o-right fa-2x"></i></div>
        </div>
        <div class="panel-body">
            <ul class="project_info">
                <li><label>Project Owner: </label> {{ project.Project_Owner__r.Name }}</li>
                <li><label>Created Date: </label> {{ project.CreatedDate | parseDate }}</li>
                <li><label>Due Date: </label> {{ project.Buildout_Due_Date__c }}</li>
                <li><label>Quoted Hours: </label> {{ project.Quoted_Developer_Hours__c }}</li>
            </ul>
        </div>
    </div>
</template>
<script>
export default{
    props: {
        'project': '',
        'index': '',
    },
    computed: {
        pastDue: function () {
            let dueDate = new Date(this.project.Buildout_Due_Date__c);
            let today = new Date();
            if (today > dueDate) {
                return true;
            }
        }
    },
    methods: {
        getFtpInfo: function () {
            this.$store.dispatch('getProjectFtpInfo', this.project);
            this.ftp_update_request(this.index);
        },
        ftp_update_request: function (index) {
            let currentSelected = document.querySelector('.selectedProject');
            let newSelected = document.querySelector("#project-"+index);
            if(currentSelected) {
                currentSelected.classList.remove('selectedProject');
            }
            newSelected.classList.add('selectedProject');
        }
    },
    filters: {
        parseDate: function (value) {
            return newDate = new Date(value).toDateString();
        }
    }
}
</script>
<style>

</style>