<template>
    <div :id="'task-' + index" class="panel panel-default task-panel" :class="{ 'isPastDue': task.pastDue}" @click="getInfo">
        <div class="panel-heading">
            <div class="task-name">{{ task.name }}</div>
            <div class="arrow-icon"><i class="fa fa-arrow-circle-o-right fa-2x"></i></div></div>
        <div class="panel-body">
            <ul class="task-info-list">
                <li><label>Owner: </label> {{ task.owner }}</li>
                <li><label>Domain: </label> {{ task.domain }}</li>
                <li><label>Priority: </label> {{ task.priority }}</li>
                <li><label>Created Date: </label> {{task.createdDate}} </li>
                <li><label>Due Date: </label> {{ task.dueDate }}</li>
                <li><label>Status: </label> {{ task.status }}</li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        'task': '',
        'index': ''
    },
    methods: {
        getInfo: function () {
            this.$store.dispatch('getTaskFtpInfo', this.task);
            this.$store.dispatch('checkConflicting', this.task.domainId);
            this.ftp_update_request(this.index);
        },
        ftp_update_request: function (index) {
            let currentSelected = document.querySelector('.selectedTask');
            let newSelected = document.querySelector("#task-"+index);
            if(currentSelected) {
                currentSelected.classList.remove('selectedTask');
            }
            newSelected.classList.add('selectedTask');
        }
    }
}
</script>
<style>

</style>
